# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python environment files
.python-version

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Test cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/